@import "./variables.scss";

html {
  // background-color: #999999;
}

.rvtr-btn-primary {
  color: white;
  background-color: $primary;
  font-weight: bolder;
}

.rvtr-btn-secondary {
  color: white;
  background-color: $secondary;
  font-weight: 500;

  &:hover {
    color: white; // overrides bootstrap changing text color
  }
}
